.album-item {
  width: 300px;
  border: 1px solid #ccc;
  margin: 5px;
}

.album-item-img {
  width: 300px;
  object-fit: cover;
}

.album-item-body {
  display: inline-block;
  background-color: #6b6b6b;
  color: white;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}
